.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 500;
}

.films__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.films-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.films-item__image {
  position: relative;
  overflow: hidden;
}

.films-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
  aspect-ratio: 2/3;
  transition: 0.3s;
}

.films-item:hover img {
  transform: scale(1.2);
}

.films-item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.films-item__name {
  margin: 0;
}